*{
    margin: 0%;
    font-family: 'Kanit', sans-serif;
}
.logo{
    background-color: #0A91AB;
    text-align: center;
    padding: 2%;
}
.logo img{
    height: 50px;
    width: 50px;
}
nav{
    background-color: #FFC045;
    border-bottom: 1px solid ;
    text-align: center;
    padding: 1%;
    top: 0%;
    position: sticky;
}
a:link, a:visited, a:active{
    color:  black;
    text-decoration: none;   
}
a:hover{
    color:#0A91AB;
}
li{
    list-style: none;
    font-weight: bold;
    display: inline-block;
    width: 24%;    
}
.videojuegos h1{
    margin-top: 3%;
    margin-left: 5%;
    color: #0A91AB;
    font-size: 2em;
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.juego{
    border: 1px dashed  #FFC045;
    border-radius: 10px;
    width: 25%;
    margin: 2%;
    box-shadow: 5px 5px 5px 5px #FFC045;
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 10px;
    height: 250px;
    
}
.juego .link_juego{
    margin: 2%;
    color: #FFC045;
    font-size: 25px;
    font-weight: bold;
}
.link_juego:hover{
    font-style: italic;
    color: #FFC045 ;
}

.juego p{
    color: grey;
}
.contenedor p{
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px;
}
.btn{
    margin-top: auto;
    text-align: end;
    padding: 4%;
}
.boton{
    background-color: #FFC045;
    color: black;
    text-decoration: none;  
    border-radius: 10px;
    padding: 2%;
    font-style: oblique;
    font-weight: bold;
    
}
.boton:hover{
    background-color: #D9D892 ;
    color: grey;
    border-radius: 10px;
}
.noticias_trucos{
    display: flex;
    flex-wrap: wrap;
}
aside{
    border: 3px dashed;
    border-radius: 10px;
    background-color:  #0A90AB25;
    width: 20%;
    height: 1050px;
    text-align: center;
    margin-top: 1.5%;
    margin-left: 4%;
    float: left;
}
aside h1{
    color: #0A91AB;
    margin-top: 3%;
    font-size: 2em;
}
aside h2{
    color: #FFC045;
    margin-top: 3%;
}
aside p{
    font-weight: bold;
}
.noticias{
    width: 73%;
    float: right;
    
}
.noticias h1{
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: #0A91AB;
    font-size: 2em;
   
}
.contet{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 5%;
}
.new{
    border: 3px solid #0A91AB;
    border-radius: 10px;
    width: 35%;
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px 3px #0A91AB;
}
.fecha{
    border-bottom: 5px solid#FFC045;
    margin: 1%;
}
.new .link_noticia{
    color: #FFC045;
    font-size: 25px;
    font-weight: bold;
    
}
.new .link_noticia:hover{
    font-style: italic;
    color: #FFC045 ;
}
.center{
    text-align: center;
}
.new p{
    margin: 2%;
}
.btn_noticia{
    margin-top: auto;
    text-align: end;
    padding: 4%;
    background-image: url(/Media/Ibai-Llanos.jpg);
    border-radius: 10px;
    background-size: cover;
    height: 230px;
}
.btn_noticia2{
    margin-top: auto;
    text-align: end;
    padding: 4%;
    background-image: url(/Media/last\ of\ us.jpg);
    border-radius: 10px;
    background-size: cover;
    height: 230px;
}
.btn_noticia3{
    margin-top: auto;
    text-align: end;
    padding: 4%;
    background-image: url(/Media/prime\ gaming.webp);
    border-radius: 10px;
    background-size: cover;
    height: 230px;
}
.btn_noticia4{
    margin-top: auto;
    text-align: end;
    padding: 4%;
    background-image: url(/Media/modern\ warfare.jpg);
    border-radius: 10px;
    background-size: cover;
    height: 230px;
}


.ranking{
    clear: both;
    text-align: center;
}
.ranking h1{
    color: #0A91AB;
    margin-top: 3%;
    font-size: 2em;
}
.contenedor_ranking{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.personas{
    width: 15%;
    font-weight: bold;
}
.circulo{
    border-radius: 150px;
    border:3px solid #FFC045;
    height: 200px;
}
.personas h2{
    text-align: center;
    color: #FFC045;
    margin: 1%;

}
footer{
    background-color: #8A8070;
    width: 100%;
    
}
.redes{
    float: left;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing:  2px;
    word-spacing: 40px;
   
}
.direccio{
    float: right;
    text-align: right;
    margin-right: 3%;
    font-weight: bold;
    margin-top: 1%;
    
}
.copy{
    clear: both;
    text-align: center;
    font-weight: bold;

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    
}
a:hover{
    color:#0A91AB;
}













